{% extends 'main/base.html' %}

{% block title %}My Skills{% endblock title %}

{% block body %}
<h1>My Skills </h1>
<div>
<dl>
    <dt style="font-family: 'Bangers', cursive;"><mark class = "blue">Technical Skills:</mark></dt>
    <dd>- Python / C / C++</dd>
    <dd>- Comp Coding</dd>
    <dd>- Arduino / Rasberry Pi</dd>
    <dd>- Circuit design</dd>
    <dd>- Sensor Control</dd>
    <dd>- Web Dev / App Dev</dd>
    <dd>- Game Dev</dd>
    <dd>- Animation / Graphic design / Blender</dd>
    <dd>- Machine Learning</dd>
    <dd>- Image Processing</dd>
    <dd>- IoT </dd>
    <dd>- Version Control </dd>
    <dd>- Management </dd>
    <br>
    <dt style="font-family: 'Bangers', cursive;"><mark class="yellow">Hobbies:</mark></dt>
    <dd>- Rubiks cube</dd>
    <dd>- Guitar</dd>
    <dd>- Drawing / Sketching</dd>
    <dd>- Photography</dd>
    <dd>- Socialising</dd>
    <dd>- Gaming</dd>
</dl>  
</div>

{% endblock body %}